.footer {
    /* background-color: lightblue; */
    /* background-color: rgba(255, 255, 255, 0); */
  background-color: black;
    color:white;
    text-align: center;
    padding: 15px 0;
    
    margin-top:0px;
    /* display: flex; */
    /* align-items: last baseline; */
    /* margin-top: 570px; */
    /* flex-direction: column; */
    font-size: 0.9rem;
  }
  